<app-top-nav></app-top-nav>

<!--CONTENT SECTION-->
<section id="content">

  <!--GIFT-1 SECTION-->
  <section id="gift-1-section" class="section-block more-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="h4 animation fadeInUp">GIFT REGISTRY - 1</h2>
          <p class="intro-text animation fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
        </div>
      </div>
      <div class="row">

        <!-- GIFT 1 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 1 -->

        <!-- GIFT 2 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 2 -->

        <!-- GIFT 3 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 3 -->

        <!-- GIFT 4 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 4 -->

        <!-- GIFT 5 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 5 -->

        <!-- GIFT 6 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="gift-card">
            <div class="gift-logo">
              <a href="#">
                <img src="http://placehold.it/200x100" alt="">
              </a>
            </div>
            <div class="gift-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
          </div>
        </div>
        <!-- END of GIFT 6 -->

      </div>
    </div>
  </section>
  <!-- END of GIFT-1 SECTION-->


  <!--GIFT-2 SECTION-->
  <section id="gift-2-section" class="section-block">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="h4 animation fadeInUp">GIFT REGISTRY - 2</h2>
          <p class="intro-text animation fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
        </div>
      </div>
      <div class="row">
        <!-- GIFT CAROUSEL -->
        <div id="gift-carousel" class="owl-carousel animation fadeInUp">

          <!-- ITEM-1 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-1-->

          <!-- ITEM-2 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-2-->

          <!-- ITEM-3 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-3-->

          <!-- ITEM-4 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-4-->

          <!-- ITEM-5 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-5-->

          <!-- ITEM-6 -->
          <div class="item">
            <div class="photo-item">
              <img src="http://placehold.it/200x100" alt="">
            </div>
          </div>
          <!--END of ITEM-6-->

        </div>
        <!--END of GIFT CAROUSEL-->
      </div>
    </div>
  </section>
  <!-- END of GIFT-2 SECTION-->

</section>

<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">


              <div id="footer-couplename-wrapper">

                <div class="animation fadeInUp">
                  <div id="slide-his-name">
                    Albert
                  </div>
                  <div id="slide-and-text">
                    <div id="curve-graphic">
                      <img src="images/and-banner.png" alt="">
                    </div>
                    <div id="and-text">
                      and
                    </div>
                  </div>
                  <div id="slide-her-name">
                    Emily
                  </div>
                </div>

              </div>

              <h6 class="animation delay1 fadeInUp" style="letter-spacing:6px;">MARCH 19, 2017</h6>


            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>