<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">

      <!-- section -->
      <section class="gla_section">
          <div class="container">

          <div class="row" data-100-top="@class:row sticky_block" data--200-bottom="@class:row hide_sticky_block" data-bottom-top="@class:row nosticky_block">
              <div>
          
                  
                  
                  <!-- COTENT  -->
                  <div class="col-md-9 gla_main_sidebar">
              
                      <!-- Accordion -->
                      <h3 id="accordions">Frequently Asked Questions</h3>
                      
                      <div class="panel-group accord-chev" >
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What's the dress code?</a>
                                  </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Can I bring a date?</a>
                                  </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Are kids invited?</a>
                                  </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Accordion end--> 

                  </div>
              </div>
          </div>
          </div>
      </section>
  </section>
</div>
<!-- page end -->