<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

<!-- Content -->
<section id="gla_content" class="gla_content">

    <!-- section -->
    <section id="accordion" class="gla_section">
        <div class="container">
            <p class="text-center"><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
            <h2 class="text-center" style="margin-bottom: 10px;">Frequently Asked Questions</h2>

        <!-- <div class="row" data-100-top="@class:row sticky_block" data--200-bottom="@class:row hide_sticky_block" data-bottom-top="@class:row nosticky_block"> -->
            <!-- <div class="center"> -->
                <!-- CONTENT  -->
                <!-- <div class="col-md-9 gla_main_sidebar top-margin-xlg"> -->
            
                    <!-- Accordion -->
                    <!-- <h3 id="accordions">Frequently Asked Questions</h3> -->
                    
                    <div class="panel-group accord-chev top-margin-xlg" >
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What should I wear?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Cocktail attire. <br><br>Ladies, although the ceremony will be on a patio and the reception indoors, we recommend you wear comfortable shoes so you can last the whole night on the dance floor. We will also have lawn games outside! <br><br>Gentlemen, ties are completely optional.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Are children allowed?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes. We can’t wait to see them on the dance floor!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Is there parking on the premises? How much is it?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes. There is plenty of <b>free</b> parking on-site, but it’s on non-paved gravel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Is the venue ADA accessible?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes. The ceremony, cocktail hour, and reception areas are all on the same level and wheelchair accessible. If you have any special needs, please don't hesitate to reach out in advance. We want to make sure everyone has a great time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion end--> 

                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
        </div>
    </section>
</section>
</div>
<!-- page end -->