<app-top-nav></app-top-nav>

<!--CONTENT SECTION-->
<section id="content">

  <!--BRIDESMAID SECTION-->
  <section id="bridesmaid-section" class="section-block more-grey">
    <div class="container">
      <div class="row">

        <!-- BRIDESMAID 1 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>MAID OF HONOR</h5>
            </div>
            <div class="card-name">
              Alice
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 1 -->

        <!-- BRIDESMAID 2 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>BEST FRIEND</h5>
            </div>
            <div class="card-name">
              Stella
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 2 -->

        <!-- BRIDESMAID 3 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>ROOM MATE</h5>
            </div>
            <div class="card-name">
              Janet
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 3 -->

        <!-- BRIDESMAID 4 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>CLASS MATE</h5>
            </div>
            <div class="card-name">
              Jessie
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 4 -->

        <!-- BRIDESMAID 5 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>CLASS MATE</h5>
            </div>
            <div class="card-name">
              Clara
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 5 -->

        <!-- BRIDESMAID 6 -->
        <div class="col-md-4 col-sm-6 animation fadeInUp">
          <div class="wedding-card">
            <div class="card-photo">
              <img src="http://placehold.it/500X500" alt="" class="fullwidth rounded">
              <div class="heart-icon-wrapper">
                <div class="heart-icon">
                  <i class="de-icon-heart"></i>
                </div>
              </div>
            </div>
            <div class="card-duty">
              <h5>SISTER</h5>
            </div>
            <div class="card-name">
              Emma
            </div>
            <div class="card-desc">
              <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada.</p>
            </div>
          </div>
        </div>
        <!-- END of BRIDESMAID 6 -->

      </div>
    </div>
  </section>
  <!-- END of BRIDESMAID SECTION-->

</section>

<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920X1080);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div id="thank-you" class="scale75-onmobile">
                <div id="thank" class="animation fadeInUp">
                  Thank
                </div>
                <div id="you" class="animation fadeInUp">
                  You
                </div>
              </div>
              <h6 class="animation delay1 fadeInUp" style="letter-spacing:6px;">ALBERT & EMILY</h6>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>