<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">


        
      <!-- section -->
      <section class="gla_section gla_image_bck" data-color="#fff">
          
          
          <div class="container text-center">

              <h2>The Wedding Party</h2>
              
              <!-- filters -->
              <div class="button-group filter-button-group">
                  <a data-filter="*">Show All</a>
                  <a data-filter=".groomsmen">Groomsmen</a>
                  <a data-filter=".bridesmaids">Bridesmaids</a>
                  <a data-filter=".kids">Adorable Kids</a>
              </div>
              <!-- filters end -->

              <!-- grid -->
              <div class="gla_portfolio_no_padding grid">
                  
                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="assets/images/eleyni.jpg" class="lightbox">
                              <img src="assets/images/eleynimin.jpg" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Eleyni Rodriguez<br>Maid of Honor<br>Sisterhood est. 1992
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Layla Gros<br>Matron of Honor<br>Sisterhood est. 1989
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Megan O'Donnell<br>Bridesmaid<br>Friendship est. 2014
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Michelle Piluso<br>Bridesmaid<br> Friendship est. 2004
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Fernanda Rodriguez<br>Bridesmaid<br>Friendship est. ????
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Tamara Rodriguez<br>Bridesmaid<br>Friendship est. ????
                          </a>

                      </div>
                  </div>


                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Daniel O'Donnell<br>Best Man<br>Brotherhood est. 1990
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD<br>Groomsman<br>Friendship est. ????
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD<br>Groomsman<br>Friendship est. ????
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD<br>Groomsman<br>Friendship est. ????
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD<br>Groomsman<br>Friendship est. ????
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item groomsmen">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD<br>Groomsman<br>Friendship est. ????
                          </a>

                      </div>
                  </div>


                  <div class="col-sm-4 gla_anim_box grid-item kids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Ainsley Bell<br>Flower Girl<br>Cuteness est. 2016?
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item kids">
                      <div class="gla_shop_item">
                          <a href="http://placehold.it/1400x800" class="lightbox">
                              <img src="http://placehold.it/600x600" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              TBD Bell<br>TBD<br>Cuteness est. 2018
                          </a>

                      </div>
                  </div>

                  <div class="col-sm-4 gla_anim_box grid-item kids">
                      <div class="gla_shop_item">
                          <a href="assets/images/vale.jpg" class="lightbox">
                              <img src="assets/images/valemin.jpeg" alt="">
                          </a>
                          
                          <a href="#" class="gla_shop_item_title">
                              Valentina Gros<br>Flower Girl<br>Cuteness est. 2014
                          </a>

                      </div>
                  </div>


               </div>
               <!-- grid end -->
              
          </div>
          <!-- container end -->

      </section>
      <!-- section end -->

  </section>
  <!-- section end -->

</div>
<!-- page end -->