<!-- NAVIGATION -->
<header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width block-color nav-center hide-logo-on-desktop sticky-nav animation fadeInDown">

    <div id="nav-wrapper">
      <!-- NAV LOGO -->
      <div class="logo-wrapper">
        <div class="nav-logo">Y
          <span class="theme-color">+</span>B</div>
      </div>

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>

      <ul id="nav-menu">
        <li>
          <a [routerLink]="['/index']" routerLinkActive="active">HOME</a>
        </li>
        <li>
          <a [routerLink]="['/schedule']" routerLinkActive="active">SCHEDULE</a>
        </li>
        <li>
          <a [routerLink]="['/travel']" routerLinkActive="active">TRAVEL</a>
        </li>
        <li>
          <a [routerLink]="['/entourage']" routerLinkActive="active">ENTOURAGE</a>
        </li>
        <li>
          <a [routerLink]="['/song-request']" routerLinkActive="active">REQUEST A SONG</a>
        </li>
        <li>
          <a [routerLink]="['/gallery']" routerLinkActive="active">GALLERY</a>
        </li>
        <li>
          <a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
        </li>
      </ul>

      <div class="clearboth"></div>

    </div>

  </nav>
</header>
<!-- END of NAVIGATION -->