<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">

      <!-- section -->
      <section class="gla_section gla_image_bck gla_wht_txt gla_fixed" data-stellar-background-ratio="0.8" data-image="http://placehold.it/1400x800">

        <!-- Over -->
        <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>
        
        <div class="container text-center">


            <h2>Registry</h2>
            <p>We’re lucky enough to have nearly everything we need for our home already. And since neither of us has ever been outside of North America, we want our honeymoon to be extra special! If you want to help make it unforgettable, you can contribute using the link to the right. If you would like to give us something to update our home, we’ve compiled a short registry as well.</p>

            <!-- icon boxes -->
            <div class="gla_icon_boxes gla_partners row">
                
                    
                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>

                <!-- item -->
                <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div>



                
                

            </div>
            <!-- icon boxes end -->
            
            
            
        </div>
        <!-- container end -->

      </section>

</section>
<!-- section end -->

</div>
<!-- page end -->