<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

<!-- Content -->
<section id="gla_content" class="gla_content">

    <!-- section -->
    <section class="gla_section">
        
        <div class="container text-center">

            <!-- <p class="text-center"><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
            <h2 class="text-center" style="margin-bottom: 10px; margin-top: 100px;">Coming soon...</h2>

            <!-- icon boxes -->
            <!-- <div class="gla_icon_boxes gla_partners row owl-carousel owl-theme">
                <div class="owl-wrapper-outer autoHeight" style="height: 55px;"></div>
                    <div class="owl-wrapper" style="width: 2736px; left: 0px; display: block; transition: all 200ms ease 0s; transform: translate3d(-228px, 0px, 0px);"></div> -->
                
                    
                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

                <!-- item -->
                <!-- <div class="gla_partner_box">
                    <a href="#"><img src="http://placehold.it/250x100" height="80" alt=""></a>
                </div> -->

            <!-- </div> -->
            <!-- icon boxes end -->
            
        </div>
        <!-- container end -->

    </section>

</section>
<!-- section end -->

</div>
<!-- page end -->