<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

<!-- Content -->
<section id="gla_content" class="gla_content">

    <!-- section -->
    <section class="gla_section">
        
        <div class="container text-center">

            <!-- <p class="text-center"><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
            <h2 class="text-center" style="margin-bottom: 10px; margin-top: 50px;">Registry</h2>
            <p style="margin-bottom: 50px;">Thank you in advance for your generosity!</p>

            <div class="registry col-sm-4 col-sm-offset-4">
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/546880578">
                    <img src="/assets/images/bedbathandbeyond.svg" alt="Bed Bath and Beyond logo" class="logo" style="width: 250px;">
                </a>
                <div>
                    <p> <strong>Registry ID:</strong> 546880578</p>
                    <a class="btn button btn-sm" href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/546880578" target="_blank" role="button">Shop the registry!</a>
                </div>
            </div>
            
        </div>
        <!-- container end -->

    </section>

</section>
<!-- section end -->

</div>
<!-- page end -->