<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">

    <!-- section -->
    <section id="lightbox" class="gla_section gla_image_bck">
            
            
        <div class="container text-center">
            <h2>Gallery</h2>
            <p>Below is a glimpse of the past 5 amazing years. We can't wait to get started on our lifetime of photos as a married couple!</p>
            
            <!-- filters -->
            <!-- <div class="button-group filter-button-group">
                <a data-filter="*">Show All</a>
                <a data-filter=".fun">Fun</a>
                <a data-filter=".family">Family & Friends</a>
                <a data-filter=".milestones">Milestones</a>
            </div> -->
            <!-- filters end -->

            <!-- grid -->
            <div class="gla_portfolio grid">
                
                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb1.jpg" class="lightbox">
                            <img src="/assets/images/yb1.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb2.jpg" class="lightbox">
                            <img src="/assets/images/yb2.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb3.jpg" class="lightbox">
                            <img src="/assets/images/yb3.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item milestones">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb4.jpg" class="lightbox">
                            <img src="/assets/images/yb4.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb5.jpg" class="lightbox">
                            <img src="/assets/images/yb5.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item milestones">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb6.jpg" class="lightbox">
                            <img src="/assets/images/yb6.jpg" alt="">
                        </a>  
                        <a href="#" class="gla_shop_item_title">
                            Engaged outside La Sagrada Familia in Barcelona, Spain
                        </a>  
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb7.jpg" class="lightbox">
                            <img src="/assets/images/yb7.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb8.jpg" class="lightbox">
                            <img src="/assets/images/yb8.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item milestones">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb9.jpg" class="lightbox">
                            <img src="/assets/images/yb9.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb10.jpg" class="lightbox">
                            <img src="/assets/images/yb10.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb11.jpg" class="lightbox">
                            <img src="/assets/images/yb11.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb12.jpg" class="lightbox">
                            <img src="/assets/images/yb12.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb13.jpg" class="lightbox">
                            <img src="/assets/images/yb13.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb14.jpg" class="lightbox">
                            <img src="/assets/images/yb14.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb15.jpg" class="lightbox">
                            <img src="/assets/images/yb15.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb16.jpg" class="lightbox">
                            <img src="/assets/images/yb16.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item fun">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb17.jpg" class="lightbox">
                            <img src="/assets/images/yb17.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item milestones">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb18.jpg" class="lightbox">
                            <img src="/assets/images/yb18.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item milestones">
                    <div class="gla_shop_item">
                        <a href="/assets/images/yb19.jpg" class="lightbox">
                            <img src="/assets/images/yb19.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam1.jpg" class="lightbox">
                            <img src="/assets/images/fam1.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam16.jpg" class="lightbox">
                            <img src="/assets/images/fam16.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam2.jpg" class="lightbox">
                            <img src="/assets/images/fam2.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam15.jpg" class="lightbox">
                            <img src="/assets/images/fam15.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam3.jpg" class="lightbox">
                            <img src="/assets/images/fam3.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam14.jpg" class="lightbox">
                            <img src="/assets/images/fam14.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam4.jpg" class="lightbox">
                            <img src="/assets/images/fam4.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam13.jpg" class="lightbox">
                            <img src="/assets/images/fam13.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam5.jpg" class="lightbox">
                            <img src="/assets/images/fam5.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam12.jpg" class="lightbox">
                            <img src="/assets/images/fam12.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam6.jpg" class="lightbox">
                            <img src="/assets/images/fam6.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam11.jpg" class="lightbox">
                            <img src="/assets/images/fam11.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam7.jpg" class="lightbox">
                            <img src="/assets/images/fam7.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam10.jpg" class="lightbox">
                            <img src="/assets/images/fam10.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam8.jpg" class="lightbox">
                            <img src="/assets/images/fam8.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item family">
                    <div class="gla_shop_item">
                        <a href="/assets/images/fam9.jpg" class="lightbox">
                            <img src="/assets/images/fam9.jpg" alt="">
                        </a>
                    </div>
                </div>

             </div>
             <!-- grid end -->

        </div>
        <!-- container end -->

    </section>
    <!-- section end -->

  </section>
  <!-- content section end -->

</div>
<!-- page end -->