<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->




</div>
<!-- page end -->













<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">

              <div id="slide-pagetitle-wrapper">

                <h1 class="animation delay1 fadeInUp">MASONRY</h1>

                <p class="animation delay2 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut accumsan turpis, ac gravida nunc. Donec egestas
                  leo ut egestas semper.</p>

                <div class="wedding-logo animation delay3 fadeInUp">
                  <div class="line-1"></div>
                  <div class="line-2"></div>
                  <div class="his-initial">A</div>
                  <div class="her-initial">E</div>
                  <div class="top-heart">
                    <i class="de-icon-heart"></i>
                  </div>
                  <div class="bottom-heart">
                    <i class="de-icon-heart"></i>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div>
  <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:center 40%;">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.3"> </div>

    </li>


  </ul>
  <!-- END of MAIN SLIDER IMAGES -->

</section>
<!-- ENF of MAIN SLIDER -->



<!--CONTENT SECTION-->
<section id="content">

  <!--GALLERY SECTION-->
  <section id="gallery-section" class="section-block more-grey">
    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <!-- START MASONRY -->
          <div id="masonry-gallery" class="masonry three-col with-gutter">

            <!-- MASONRY GRID SIZER -->
            <div class="grid-sizer"></div>

            <!-- MASONRY GUTTER SIZER -->
            <div class="gutter-sizer"></div>

            <!-- GALLERY ITEM-1 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-1">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-1 -->


            <!-- GALLERY ITEM-2 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x600" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-2">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-2 -->


            <!-- GALLERY ITEM-3 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-3">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-3 -->


            <!-- GALLERY ITEM-4 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-4">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-4 -->


            <!-- GALLERY ITEM-5 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x600" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-5">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-5 -->


            <!-- GALLERY ITEM-6 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-6">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-6 -->


            <!-- GALLERY ITEM-7 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x600" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-6">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-7 -->


            <!-- GALLERY ITEM-8 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-8">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-8 -->


            <!-- GALLERY ITEM-9 -->
            <!-- ======================================================= -->
            <div class="masonry-col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item animation fadeIn">

                <!--PHOTO-->
                <img src="http://placehold.it/400x400" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="http://placehold.it/700x463" class="magnific-zoom-gallery" title="Gallery-9">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-zoom-in"></i>
                        </div>
                      </a>

                      <a href="#">
                        <div class="de-icon circle light medium-size inline">
                          <i class="de-icon-link"></i>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
                <!--END of ICON LINK-->

              </div>
              <!--END of PHOTO-ITEM-->

            </div>
            <!-- END of GALLERY ITEM-9 -->



          </div>
          <!-- END of MASONRY-->

        </div>

      </div>
    </div>
  </section>
  <!-- END of GALLERY SECTION-->

</section>

<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">


              <div id="footer-couplename-wrapper">

                <div class="animation fadeInUp">
                  <div id="slide-his-name">
                    Albert
                  </div>
                  <div id="slide-and-text">
                    <div id="curve-graphic">
                      <img src="images/and-banner.png" alt="">
                    </div>
                    <div id="and-text">
                      and
                    </div>
                  </div>
                  <div id="slide-her-name">
                    Emily
                  </div>
                </div>

              </div>

              <h6 class="animation delay1 fadeInUp" style="letter-spacing:6px;">MARCH 19, 2017</h6>


            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>