<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">

    <!-- section -->
    <section class="gla_section gla_image_bck">
            
            
        <div class="container text-center">
            <h2>Our Story</h2>
            <p>Yani and Brian re-met at their 5-year high school reunion. In highschool, Yani was a total nerd and Brian was a hot shot jock. Five years later, their roles had reversed, except Yani was still as un-athletic as ever. Their first date was on Valentine's Day. Smooth move by Brian. The rest is history. Below is a glimpse of the past 5 amazing years. We can't wait to get started on our lifetime of photos as a married couple!</p>
            
            <!-- filters -->
            <div class="button-group filter-button-group">
                <a data-filter="*">Show All</a>
                <a data-filter=".fun">Fun</a>
                <a data-filter=".family">Family & Friends</a>
                <a data-filter=".milestones">Major Milestones</a>
                <a data-filter=".engagement">Engagement</a>
            </div>
            <!-- filters end -->

            <!-- grid -->
            <div class="gla_portfolio grid">
                
                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb1.jpg" alt="">
                        </a>
                        


                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb2.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb3.jpg" alt="">
                        </a>

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb4.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb5.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb6.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb7.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb8.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb9.jpg" alt="">
                        </a>

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb10.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb11.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb12.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb13.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb14.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb15.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb16.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item engagement">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb17.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

                <div class="col-sm-4 gla_anim_box grid-item ceremony">
                    <div class="gla_shop_item">
                        <a href="http://placehold.it/1400x800" class="lightbox">
                            <img src="/assets/images/yb18.jpg" alt="">
                        </a>
                        

                    </div>
                </div>

             </div>
             <!-- grid end -->

        </div>
        <!-- container end -->

    </section>
    <!-- section end -->

  </section>
  <!-- content section end -->

</div>
<!-- page end -->