<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
                <h2>Wedding Details</h2>
                <h4 class="gla_subtitle">Saturday, May 11th, 2019</h4><br>
                <h4 class="gla_subtitle">Shadow Creek Weddings & Events<br>Purcellville, Virginia</h4>
                <!-- boxes -->
                <div class="gla_icon_boxes row text-left">

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/ceremony.jpg);"></span>    
                            </span>
                            <span class="gla_news_title">The Venue</span>
                            <p><strong>Shadow Creek Weddings & Events</strong><br>18090 Silcott Springs Road<br>Purcellville, Virginia 20132<br><br>There is a large parking lot on premises.<br><strong>Lyft and Uber</strong> are available in the area, and we'll have some on standby for those of you who have a little too much fun.</p>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cocktail.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">The Schedule</span>
                            <p><strong>The wedding ceremony will begin promptly at 4pm</strong>.<br><br>The cocktail hour and reception will follow. Bring your dancing shoes! If you're having too much fun to go home at the end of the night, come bar hopping with us in downtown Purcellville.</p>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cornhole.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">The Details</span>
                            <ul>
                            <li> The attire is <strong>Semiformal</strong></li>
                            <li> Weather permitting, the ceremony will be outdoors on a paved surface (It'll be pretty short too)</li>
                            <li> There will be outdoor lawn games and fire pits</li>
                            <li> The venue is handicap accessible, but please let us know if you need any other special accomodations</li>
                            </ul>
                        </span>
                    </div> 

                </div>
                <!-- boxes end -->
                
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->