<app-top-nav></app-top-nav>

<!--CONTENT SECTION-->
<section id="content">

  <!-- OUR STORY SECTION -->
  <section id="story-section" class="section-block">

    <div class="container">

      <!-- ROW-1 -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h1 id="page-heading" style="padding-top: 20px">Our Wedding Day</h1>
          <section id="countdown-1-section" class="section-block more-grey" style="padding: 30px 0px; margin-bottom: 25px">
            <h5 style="font-family: Montserrat; font-size: 20px"> Saturday, May 11th, 2019</h5>
            <p>Ceremony begins at 4pm sharp. <br> Additional details below.</p>
            <h5 style="font-family: Montserrat; font-size: 20px; padding-top: 20px"> Shadow Creek Weddings & Events</h5>
            <p>18090 Silcott Springs Road <br> Purcellville, Virginia 20132</p>
            <div class="row" style="padding-top: 20px">
                <div class="col-md-offset-2 col-md-8 text-center">
                  <div id="countdown-1" class="countdown circle-countdown"></div>
                  </div>
              </div>
          </section>
        </div>
      </div>
      <!-- END of ROW-1 -->

      <!-- STORY ROW-1-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="assets/images/ceremony.jpg" alt="Scenic wedding ceremony setup" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <!-- <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div> -->
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="assets/images/ceremony.jpg" class="magnific-zoom" title="Ceremony">
                    <!-- <div class="de-icon circle light medium-size inline"> -->
                      <!-- <i class="de-icon-zoom-in"></i> -->
                    <!-- </div> -->
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">4:00</div>
            <div class="the-year">PM</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
          <h5>Ceremony</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-1 -->

      <!-- STORY ROW-2-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 col-md-push-7 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="assets/images/cocktail.jpg" alt="Bar for cocktail hour" class="hover-animation image-zoom-in">

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="assets/images/cocktail.jpg" class="magnific-zoom" title="Cocktail Hour"></a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">5:00</div>
            <div class="the-year">PM</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInRight">
          <h5>Cocktail Hour</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-2 -->

      <!-- STORY ROW-3-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="assets/images/reception.jpg" alt="Wedding reception setup" class="hover-animation image-zoom-in">

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="assets/images/reception.jpg" class="magnific-zoom" title="Reception"></a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">6:00</div>
            <div class="the-year">PM</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
          <h5>Reception</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-3 -->


      <!-- STORY ROW-4-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 col-md-push-7 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="assets/images/cocktail.jpg" alt="Bar" class="hover-animation image-zoom-in">

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="assets/images/cocktail.jpg" class="magnific-zoom" title="After Party"></a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">11:00</div>
            <div class="the-year">PM</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInRight">
          <h5>Bar Hopping</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-4 -->


      <!-- STORY LAST ROW-->
      <div class="row">

        <div class="col-md-12 text-center story-date-wrapper animation fadeIn">
          <div id="last-row-date-wrapper">

            <div class="vertical-line">
            </div>
            <!-- <div class="story-date">
              <div class="the-month">MAY 11</div>
              <div class="the-year">2019</div>
            </div> -->

          </div>
          <div id="end-of-story" class="animation fadeInUp">
            <h4>#rodonnellforever</h4>
          </div>
        </div>

      </div>
      <!-- END of STORY LAST ROW -->

    </div>
    <!-- END of CONTAINER -->

  </section>

</section>

<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url(assets/images/pink-watercolor-background.jpg);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">


              <div id="footer-couplename-wrapper">

                <div class="animation fadeInUp">
                  <div id="slide-his-name">
                    Yani
                  </div>
                  <div id="slide-and-text">
                    <div id="curve-graphic">
                      <img src="images/and-banner.png" alt="">
                    </div>
                    <div id="and-text">
                      and
                    </div>
                  </div>
                  <div id="slide-her-name">
                    Brian
                  </div>
                </div>

              </div>

              <h5 style="letter-spacing:6px;">May 11, 2019</h5>


            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>