<app-top-nav></app-top-nav>

<!--CONTENT SECTION-->
<section id="content">

  <!-- OUR STORY SECTION -->
  <section id="story-section" class="section-block">

    <div class="container">

      <!-- ROW-1 -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h1 class="animation delay1 fadeInUp">The Special Day</h1>

          <p class="animation delay2 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut accumsan turpis, ac gravida nunc. Donec egestas
            leo ut egestas semper.</p>
        </div>
      </div>
      <!-- END of ROW-1 -->


      <!-- STORY ROW-1-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="http://placehold.it/373x308" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="http://placehold.it/700x463" class="magnific-zoom" title="Our First Met">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-zoom-in"></i>
                    </div>
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">APR</div>
            <div class="the-year">2015</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
          <h5>OUR FIRST MET</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-1 -->

      <!-- STORY ROW-2-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 col-md-push-7 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="http://placehold.it/373x308" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="http://placehold.it/700x463" class="magnific-zoom" title="Our First Dating">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-zoom-in"></i>
                    </div>
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">SEP</div>
            <div class="the-year">2015</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInRight">
          <h5>FIRST DATING</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-2 -->

      <!-- STORY ROW-3-->
      <div class="row story-row">

        <div class="col-sm-12 col-md-5 text-center">
          <!--PHOTO-ITEM-->
          <div class="photo-item animation delay1 fadeInLeft">

            <!--PHOTO-->
            <img src="http://placehold.it/373x308" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="http://placehold.it/700x463" class="magnific-zoom" title="He Proposed">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-zoom-in"></i>
                    </div>
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->
        </div>

        <div class="col-md-2 text-center story-date-wrapper animation fadeIn">
          <div class="story-date">
            <div class="the-month">OCT</div>
            <div class="the-year">2016</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
          <h5>HE PROPOSED</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut </p>
        </div>

        <div class="vertical-line">
        </div>

      </div>
      <!-- END of STORY ROW-3 -->


      <!-- STORY LAST ROW-->
      <div class="row">

        <div class="col-md-12 text-center story-date-wrapper animation fadeIn">
          <div id="last-row-date-wrapper">

            <div class="vertical-line">
            </div>
            <div class="story-date">
              <div class="the-month">OCT</div>
              <div class="the-year">2016</div>
            </div>

          </div>
          <div id="end-of-story" class="animation fadeInUp">
            <h4>WE ARE GETTING MARRIED</h4>
          </div>
        </div>

      </div>
      <!-- END of STORY LAST ROW -->

    </div>
    <!-- END of CONTAINER -->

  </section>

</section>

<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5">

    <div class="divider-overlay"></div>

    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">


              <div id="footer-couplename-wrapper">

                <div class="animation fadeInUp">
                  <div id="slide-his-name">
                    Albert
                  </div>
                  <div id="slide-and-text">
                    <div id="curve-graphic">
                      <img src="images/and-banner.png" alt="">
                    </div>
                    <div id="and-text">
                      and
                    </div>
                  </div>
                  <div id="slide-her-name">
                    Emily
                  </div>
                </div>

              </div>

              <h6 class="animation delay1 fadeInUp" style="letter-spacing:6px;">MARCH 19, 2017</h6>


            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>