<!-- NAVIGATION -->
<header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width transparent nav-center hide-logo-on-desktop sticky-nav animation fadeInDown">

    <div id="nav-wrapper">
      <!-- NAV LOGO -->
      <div class="logo-wrapper">
        <div class="nav-logo">Y
          <span class="theme-color">+</span>B</div>
      </div>

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>

      <ul id="nav-menu">
        <li>
          <a [routerLink]="['/']">HOME</a>
        </li>
        <li>
          <a [routerLink]="['/schedule']">SCHEDULE</a>
        </li>
        <li>
          <a [routerLink]="['/travel']">TRAVEL</a>
        </li>
        <li>
          <a [routerLink]="['/entourage']">ENTOURAGE</a>
        </li>
        <li>
          <a [routerLink]="['/song-request']">REQUEST A SONG</a>
        </li>
        <li>
          <a [routerLink]="['/gallery']">GALLERY</a>
        </li>
        <li>
          <a [routerLink]="['/faq']">FAQ</a>
        </li>
      </ul>

      <div class="clearboth"></div>

    </div>

  </nav>
</header>
<!-- END of NAVIGATION -->

<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="bigger animation delay2 fadeInUp">Yani & Brian</h1>
              <h5 class="animation delay3 fadeInUp" style="margin-top:60px; font-weight:400; letter-spacing:6px; ">We do.</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div>
  <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/images/pink-watercolor-background.jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <!-- <div class="slide-overlay" style="opacity:0.1"> </div> -->

    </li>


  </ul>
  <!-- END of MAIN SLIDER IMAGES -->

</section>
<!-- ENF of MAIN SLIDER -->



<!--CONTENT SECTION-->
<section id="content">

  <!--COUPLE SECTION-->
  <section id="couple-section" class="section-block">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center animation fadeInUp">
          <h2 class="h4">Our Story</h2>
          <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut eros
            mollis efficitur. In sit amet orci at nisi lobortis.</p>
        </div>
      </div>
      <div class="row" id="flex-center-align">
        <!-- <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
          <img src="http://placehold.it/262x262" alt="" class="fullwidth rounded animation fadeInLeft">
        </div> -->
        <div class="col-xs-6 col-sm-4 col-md-3" id="image-cropper-round">
          <img src="assets/images/yb-spain-1.jpg" alt="" class="fullwidth rounded animation fadeInRight" id="circle-image">
        </div>
      </div>
    </div>
  </section>
  <!-- END of COUPLE SECTION-->


  <!-- SAVE THE DATE SECTION -->
  <section id="save-the-date-section">
    <div class="image-divider fixed-height" style="background-image:url(assets/images/yb-spain-back.jpg);" data-stellar-background-ratio="0.1">

      <div class="divider-overlay"></div>

      <!--Use Center Middle Alignment to align middle the content for fixed-height parallax-->
      <div class="alignment">
        <div class="v-align center-middle">

          <div class="container">
            <div class="row" id="responsive-line-height">
              <div class="col-md-offset-1 col-md-10 text-center">
                <div class="handwriting-title animation fadeInUp">Save the Date</div>
                <h2 class="animation fadeInUp" style="margin-bottom:0px">May 11, 2019</h2>
                <!-- <h5 class="animation fadeInUp" style="letter-spacing:6px; margin-top:30px">You're Invited</h5> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 text-center">
                <div id="countdown" class="countdown box-countdown animation fadeInUp"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END of SAVE THE DATE SECTION -->
</section>