<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- <header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width transparent nav-center hide-logo-on-desktop sticky-nav">
    <div id="nav-wrapper"> -->
      <!-- NAV LOGO -->
      <!-- <div class="logo-wrapper">
        <div class="nav-logo">Y
          <span class="theme-color">+</span>B</div>
      </div>
      <div id="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <ul id="nav-menu">
        <li>
          <a [routerLink]="['/']" routerLinkActive="active" (click)="refresh()">HOME</a>
        </li>
        <li>
          <a [routerLink]="['/schedule']" routerLinkActive="active" (click)="refresh()">SCHEDULE</a>
        </li>
        <li>
          <a [routerLink]="['/travel']" routerLinkActive="active" (click)="refresh()">TRAVEL</a>
        </li>
        <li>
          <a [routerLink]="['/entourage']" routerLinkActive="active" (click)="refresh()">ENTOURAGE</a>
        </li>
        <li>
          <a [routerLink]="['/faq']" routerLinkActive="active" (click)="refresh()">FAQ</a>
        </li>
        <li>
          <a [routerLink]="['/registry']" routerLinkActive="active" (click)="refresh()">REGISTRY</a>
        </li>
        <li>
          <a [routerLink]="['/gallery']" routerLinkActive="active" (click)="refresh()">GALLERY</a>
        </li>
        <li>
          <a [routerLink]="['/song-request']" routerLinkActive="active" (click)="refresh()">REQUEST A SONG</a>
        </li>
        </ul>
      <div class="clearboth"></div>
    </div>
  </nav>
</header> -->
<!-- END of NAVIGATION -->

<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="bigger" style="color: #ffffff">Yani & Brian</h1>
              <h5 style="margin-top:60px; font-weight:400; letter-spacing:6px; color: #ffffff">We do.</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div>
  <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(assets/images/pink-watercolor-background.jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <!-- <div class="slide-overlay" style="opacity:0.1"> </div> -->

    </li>


  </ul>
  <!-- END of MAIN SLIDER IMAGES -->

</section>
<!-- ENF of MAIN SLIDER -->



<!--CONTENT SECTION-->
<section id="content">

  <!--COUPLE SECTION-->
  <section id="couple-section" class="section-block">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="h4">Our Story</h2>
          <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut eros
            mollis efficitur. In sit amet orci at nisi lobortis.</p>
        </div>
      </div>
      <div class="row" id="flex-center-align">
        <!-- <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
          <img src="http://placehold.it/262x262" alt="" class="fullwidth rounded">
        </div> -->
        <div class="col-xs-6 col-sm-4 col-md-3" id="image-cropper-round">
          <img src="assets/images/yb-spain-1.jpg" alt="" class="fullwidth rounded" id="circle-image">
        </div>
      </div>
    </div>
  </section>
  <!-- END of COUPLE SECTION-->


  <!-- SAVE THE DATE SECTION -->
  <section id="save-the-date-section">
    <div class="image-divider fixed-height" style="background-image:url(assets/images/yb-spain-back.jpg);" data-stellar-background-ratio="0.1">

      <div class="divider-overlay"></div>

      <!--Use Center Middle Alignment to align middle the content for fixed-height parallax-->
      <div class="alignment">
        <div class="v-align center-middle">

          <div class="container">
            <div class="row" id="responsive-line-height">
              <div class="col-md-offset-1 col-md-10 text-center">
                <div class="handwriting-title">Save the Date</div>
                <h2 style="margin-bottom:0px">May 11, 2019</h2>
                <!-- <h5 style="letter-spacing:6px; margin-top:30px">You're Invited</h5> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 text-center">
                <div id="countdown" class="countdown box-countdown"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END of SAVE THE DATE SECTION -->
</section>