<!-- Page -->
<div class="gla_page gla_middle_titles" id="gla_page">

  <!-- To Top -->
  <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>

  <!-- To Top -->
  <!-- <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a> -->

  <!-- To Top -->
  <!-- <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a> -->

  <!-- Music -->
  <div class="gla_music_icon">
    <i class="ti ti-music"></i>
  </div>
  <div class="gla_music_icon_cont">
    <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108238095&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" allow="autoplay"></iframe>
    <!-- <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108238095&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true"></iframe> -->
  </div>


  <!-- NAVIGATION -->
  <app-top-nav></app-top-nav>
  <!-- END of NAVIGATION -->


  <!-- Slider -->
  <div class="gla_slider gla_image_bck gla_fixed" data-stellar-background-ratio="0.2" data-color="#efe5dd" style="background-color: rgb(239, 229, 221); background-attachment: fixed; background-position: 50% 0px;">

    <div class="gla_slider_flower">
      <div class="gla_slider_flower_c1 gla_slider_flower_item" data-start="top:0px; left:0px" data-200-start="top:-300px; left:-300px"></div>
      <div class="gla_slider_flower_c2 gla_slider_flower_item" data-start="top:0px; right:0px" data-200-start="top:-300px; right:-300px"></div>
      <div class="gla_slider_flower_c3 gla_slider_flower_item" data-start="bottom:0px; right:0px" data-200-start="bottom:-300px; right:-300px"></div>
      <div class="gla_slider_flower_c4 gla_slider_flower_item" data-start="bottom:0px; left:0px" data-200-start="bottom:-300px; left:-300px"></div>
      <div class="gla_slider_flower_c5 gla_slider_flower_item" data-start="top:0px; left:50%" data-200-start="top:-300px; left:50%"></div>
      <div class="gla_slider_flower_c6 gla_slider_flower_item" data-start="bottom:0px; left:50%" data-200-start="bottom:-300px; left:50%"></div>
    </div>

    <!-- Over -->
    <div class="gla_over" data-color="#9abab6" data-opacity="0"></div>

    <div class="container">

      <!-- Slider Texts -->
      <div class="gla_slide_txt gla_slide_center_middle text-center">

        <div class="gla_slide_midtitle">Yani & Brian
          <br>May 11, 2019</div>

      </div>
      <!-- Slider Texts End -->

    </div>
    <!-- container end -->

    <!-- Slide Down -->
    <a class="gla_scroll_down gla_go" href="#gla_content">
      <b></b>
      Scroll
    </a>

  </div>
  <!-- Slider End -->


  <!-- Content -->
  <section id="gla_content" class="gla_content">

    <!-- section -->
    <section class="gla_section gla_lg_padding gla_image_bck gla_fixed gla_wht_txt" id="homepage-image-tint" data-stellar-background-ratio="0.2" style="background-image: url(assets/images/prezipline.jpg); background-attachment: fixed; background-position: 50% -10px;">

      <div class="gla_slider_flower" data-bottom-top="@class:active" data--200-bottom="@class:no_active">
        <div class="gla_slider_flower_c1 gla_slider_flower_item"></div>
        <div class="gla_slider_flower_c2 gla_slider_flower_item"></div>
        <div class="gla_slider_flower_c3 gla_slider_flower_item"></div>
        <div class="gla_slider_flower_c4 gla_slider_flower_item"></div>
        <div class="gla_slider_flower_c5 gla_slider_flower_item"></div>
        <div class="gla_slider_flower_c6 gla_slider_flower_item"></div>
      </div>


      <div class="container text-center">

        <p>
          <img src="assets/images/animations/mrandmrs_wh.gif" data-bottom-top="@src:assets/images/animations/mrandmrs_wh.gif" height="150" alt="">
        </p>

        <h2>We’re Getting Married!</h2>

        <p>Five years ago we reunited at our five year high school reunion. Now we are ready to be united for the rest of our lives, and there is nothing we want more than to have our closest friends and family celebrating with us! 
        </p>



      </div>
      <!-- container end -->

    </section>
    <!-- section end -->


    <!-- section -->
    <section class="gla_section gla_image_bck gla_fixed" data-stellar-background-ratio="0.2" data-color="#fff">


      <div class="container text-center">
        <p>
          <img src="assets/images/animations/savethedate.gif" data-bottom-top="@src:assets/images/animations/savethedate.gif" height="150" alt="">
        </p>
        <h2>May 11, 2019</h2>
        <h3 class="gla_subtitle">Shadow Creek Weddings & Events<br>Purcellville, VA</h3>
        <div class="gla_countdown" data-year='2019' data-month='05' data-day='11'>
        </div>

      </div>
      <!-- container end -->

    </section>
    <!-- section end -->
  </section>
  <!-- Content End -->

</div>
<!-- Page End -->