<app-top-nav></app-top-nav>

<!--CONTENT SECTION-->
<section id="content">

  <!-- HEADER SECTION -->
  <section id="header-section" class="section-block" style="padding-bottom: 0px">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <!-- <h1 class="animation delay1 fadeInUp" id="page-heading" style="padding-top: 20px">Our Wedding Day</h1> -->
          <section id="countdown-1-section" class="section-block more-grey" style="padding: 30px 30px; margin-top: 50px">
            <h5 style="font-family: Montserrat"> Welcome to D.C.</h5>
            <p>We are so grateful and excited to have you with us on our special day! Below is everything you need to know to
              make the most of your time in the D.C. area.</p>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- END of HEADER SECTION -->

  <!--AIRPORT SECTION-->
  <section class="section-block">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="animation fadeInUp" style="font-family: Montserrat">Where to Land</h2>
        </div>
      </div>
      <div class="row">
        <!-- PLACES CAROUSEL -->
        <div id="places-carousel" class="owl-carousel animation fadeInUp">

          <!-- ITEM-1 -->
          <div class="item">

            <div class="places-card">
              <!-- <div class="de-icon inline medium-size circle" style="background-color:#fc9e9e"> -->
              <img src="../../assets/images/dca.jpg" alt="DCA airport at night." class="thumbnail-image">
              <!-- </div> -->
              <div class="places-title">
                <h5 style="font-family: Montserrat; font-size: 20px">Washington National Airport (DCA)</h5>
              </div>
              <div class="places-desc">
                Closest airport to downtown Washington, D.C.
                <br>
                <br>
                <strong>Drive time to venue:</strong>
                <br> ~60 minutes
                <br>
              </div>
            </div>

          </div>
          <!--END of ITEM-1-->

          <!-- ITEM-2 -->
          <div class="item">

            <div class="places-card">
              <!-- <div class="de-icon inline medium-size circle" style="background-color:#fc9e9e"> -->
              <img src="../../assets/images/iad.jpg" alt="IAD airport at night." class="thumbnail-image">
              <!-- </div> -->
              <div class="places-title">
                <h5 style="font-family: Montserrat; font-size: 20px">Dulles International Airport (IAD)</h5>
              </div>
              <div class="places-desc">
                Closest airport to the wedding venue and hotel.
                <br>
                <br>
                <strong>Drive time to venue:</strong>
                <br> ~35 minutes
                <br>
              </div>
            </div>

          </div>
          <!--END of ITEM-2-->

          <!-- ITEM-3 -->
          <div class="item">

            <div class="places-card">
              <!-- <div class="de-icon inline medium-size circle" style="background-color:#fc9e9e"> -->
              <!-- <i class="fas fa-plane-departure"></i> -->
              <img src="../../assets/images/bwi.jpg" alt="BWI airport at night." class="thumbnail-image">
              <!-- </div> -->
              <div class="places-title">
                <h5 style="font-family: Montserrat; font-size: 20px">Baltimore-Washington International Airport (BWI)</h5>
              </div>
              <div class="places-desc">
                Just don't do this... unless you enjoy torturing yourself.
                <br>
                <br>
                <strong>Drive time to venue:</strong> ~1.5 hours
                <br>
              </div>
            </div>

          </div>
          <!--END of ITEM-3-->

        </div>
        <!--END of PLACES CAROUSEL-->
      </div>
    </div>
  </section>
  <!-- END of AIRPORT SECTION-->


  <!--HOTEL SECTION-->
  <section id="hotel-section" class="section-block">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="animation fadeInUp" style="font-family: Montserrat">Where to Stay</h2>
        </div>
      </div>

      <div class="row">

        <!-- LOCATION 1 -->
        <div class="col-md-6 col-sm-6">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInUp">

            <!--PHOTO-->
            <img src="../../assets/images/hotel.jpg" alt="Best Western Leesburg Hotel" class="hover-animation image-zoom-in" style="height: 230px">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="https://www.bestwestern.com/en_US/book/hotel-rooms.47076.html?iata=00171880&amp;ssob=BLBWI0004G&amp;cid=BLBWI0004G:google:gmb:47076"
                    class="de-button small rounded">
                    BOOK A ROOM
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->

          <div class="couple-excerpt animation fadeInUp">
            <h4 style="font-family: Montserrat">Best Western Leesburg Hotel and Conference Center</h4>
            <p>A block of rooms has been reserved for our guests at a discounted rate.
              <strong>Reference the
                <strong style="color: #f98d8a">Rodriguez/O'Donnell Wedding</strong> when making your reservation.</strong> This hotel is about a 20-minute
              drive from the wedding venue.</p>
          </div>

        </div>
        <!-- END of LOCATION 1 -->

        <!-- LOCATION 2 -->
        <div class="col-md-6 col-sm-6">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInUp">

            <!--PHOTO-->
            <img src="../../assets/images/airbnb.png" alt="Airbnb logo" class="hover-animation image-zoom-in" style="height: 230px">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="https://www.airbnb.com/s/Purcellville--VA/homes?refinement_paths%5B%5D=%2Fhomes&allow_override%5B%5D=&s_tag=bUW17lSo"
                    class="de-button small rounded">
                    BROWSE RENTALS
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->

          <div class="couple-excerpt animation fadeInUp">
            <h4 style="font-family: Montserrat">Live Like the Locals. Airbnb in Purcellville, VA</h4>
            <p>There are plenty of beautiful properties available for rent on Airbnb, including a tiny house if you're feeling
              adventurous! The wedding venue is in Purcellville so all of these properties should be fairly close.</p>
          </div>

        </div>
        <!-- END of LOCATION 2 -->

      </div>


    </div>
  </section>
  <!-- END of HOTEL SECTION-->


  <!--PLACES-2 SECTION-->
  <section id="places-2-section" class="section-block more-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 style="font-family: Montserrat">What to Do</h2>
          <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
        </div>
      </div>
      <div class="row">
        <!-- PLACES CAROUSEL -->
        <div id="places-carousel" class="owl-carousel">

          <!-- ITEM-1 -->
          <div class="item">

            <div class="places-card">
              <div class="places-title">
                <h5>GIFT STATION</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-1-->


          <!-- ITEM-2 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#e9c24c">
                <i class="de-icon-bus"></i>
              </div>
              <div class="places-title">
                <h5>BUS STOP</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-2-->


          <!-- ITEM-3 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#bfd730">
                <i class="de-icon-tree"></i>
              </div>
              <div class="places-title">
                <h5>GARDEN</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-3-->


          <!-- ITEM-4 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#8fcbda">
                <i class="de-icon-subway"></i>
              </div>
              <div class="places-title">
                <h5>TRAIN STATION</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-4-->


          <!-- ITEM-5 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
                <i class="de-icon-airport"></i>
              </div>
              <div class="places-title">
                <h5>AIRPORT</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-5-->


        </div>
        <!--END of PLACES CAROUSEL-->
      </div>
    </div>
  </section>
  <!-- END of PLACES-2 SECTION-->

</section>

<!-- FOOTER SECTION -->
<footer style="position:relative">
  <div id="map-canvas-3"></div>
  <div id="arrow-up-mobile">
    <a href="#main-slider" class="smooth-scroll grey-link">
      <i class="de-icon-up-open"></i>
    </a>
  </div>
</footer>