<app-top-nav></app-top-nav>

<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">

              <div id="slide-pagetitle-wrapper">

                <h1 class="animation delay1 fadeInUp">LOCATION</h1>

                <p class="animation delay2 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut accumsan turpis, ac gravida nunc. Donec egestas
                  leo ut egestas semper.</p>

                <div class="wedding-logo animation delay3 fadeInUp">
                  <div class="line-1"></div>
                  <div class="line-2"></div>
                  <div class="his-initial">A</div>
                  <div class="her-initial">E</div>
                  <div class="top-heart">
                    <i class="de-icon-heart"></i>
                  </div>
                  <div class="bottom-heart">
                    <i class="de-icon-heart"></i>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div>
  <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:center top">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.3"> </div>

    </li>


  </ul>
  <!-- END of MAIN SLIDER IMAGES -->

</section>
<!-- ENF of MAIN SLIDER -->



<!--CONTENT SECTION-->
<section id="content">

  <!--LOCATION SECTION-->
  <section id="location-section" class="section-block">
    <div class="container">

      <div class="row">

        <!-- LOCATION 1 -->
        <div class="col-md-6 col-sm-6">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInUp">

            <!--PHOTO-->
            <img src="http://placehold.it/455x303" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="#" class="de-button small rounded">
                    MORE
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->

          <div class="couple-excerpt animation fadeInUp">
            <h2 class="h5">CEREMONY</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque
              sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
              Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
          </div>

        </div>
        <!-- END of LOCATION 1 -->

        <!-- LOCATION 2 -->
        <div class="col-md-6 col-sm-6">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInUp">

            <!--PHOTO-->
            <img src="http://placehold.it/455x303" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->

            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="#" class="de-button small rounded">
                    MORE
                  </a>

                </div>
              </div>
            </div>
            <!--END of ICON LINK-->

          </div>
          <!--END of PHOTO-ITEM-->

          <div class="couple-excerpt animation fadeInUp">
            <h2 class="h5">PARTY</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque
              sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
              Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
          </div>

        </div>
        <!-- END of LOCATION 2 -->

      </div>


    </div>
  </section>
  <!-- END of LOCATION SECTION-->


  <!-- DIRECTION SECTION -->
  <section id="direction-section">
    <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5">

      <div class="divider-overlay"></div>

      <!--Use Center Middle Alignment to align middle the content for fixed-height parallax-->
      <div class="alignment">
        <div class="v-align center-middle">

          <div class="container">
            <div class="row">
              <div class="col-md-offset-1 col-md-10 text-center">
                <div id="get-direction-wrapper" class="animation fadeInUp">
                  <div id="get-direction" class="scale75-onmobile">
                    <div id="get" class="quote-top">Get</div>
                    <div id="direction" class="quote-middle" style="margin-top:40px;">Direction</div>
                  </div>
                </div>
                <a href="#map-canvas-3" class="de-button small light-2 rounded animation fadeInUp smooth-scroll">
                  VIEW MAP
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- END of DIRECTION SECTION -->


  <!--INTEREST PLACES SECTION-->
  <section id="interest-places-section" class="section-block more-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h2 class="h4 animation fadeInUp">INTEREST PLACES AROUND</h2>
          <p class="intro-text animation fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit
            amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis.
            Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
        </div>
      </div>
      <div class="row">
        <!-- PLACES CAROUSEL -->
        <div id="places-carousel" class="owl-carousel animation fadeInUp">

          <!-- ITEM-1 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#fc9e9e">
                <i class="de-icon-gift"></i>
              </div>
              <div class="places-title">
                <h5>GIFT STATION</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-1-->


          <!-- ITEM-2 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#e9c24c">
                <i class="de-icon-bus"></i>
              </div>
              <div class="places-title">
                <h5>BUS STOP</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-2-->


          <!-- ITEM-3 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#bfd730">
                <i class="de-icon-tree"></i>
              </div>
              <div class="places-title">
                <h5>GARDEN</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-3-->


          <!-- ITEM-4 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#8fcbda">
                <i class="de-icon-subway"></i>
              </div>
              <div class="places-title">
                <h5>TRAIN STATION</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-4-->


          <!-- ITEM-5 -->
          <div class="item">

            <div class="places-card">
              <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
                <i class="de-icon-airport"></i>
              </div>
              <div class="places-title">
                <h5>AIRPORT</h5>
              </div>
              <div class="places-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
          <!--END of ITEM-5-->


        </div>
        <!--END of PLACES CAROUSEL-->
      </div>
    </div>
  </section>
  <!-- END of INTEREST PLACES SECTION-->

</section>

<!-- FOOTER SECTION -->
<footer style="position:relative">
  <div id="map-canvas-3"></div>
  <div id="arrow-up-mobile">
    <a href="#main-slider" class="smooth-scroll grey-link">
      <i class="de-icon-up-open"></i>
    </a>
  </div>
</footer>