<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
                <h2 style="margin-bottom: 10px;">Travel Information</h2>
                <p>We are so grateful and excited to have you with us on our special day! Below is everything you need to know to make the most of your time in the D.C. area.</p>

                <div class="tabs">
                    <ul class="nav nav-tabs bootstrap-tabs great-tabs center top-margin-xlg">
                        <li class="active"><a href="#airports-tab" class="a-inv" data-toggle="tab"><i class="fas fa-plane"></i>Airports</a></li>
                        <li><a href="#accomodations-tab" class="a-inv" data-toggle="tab"><i class="fas fa-hotel"></i>Accomodations</a></li>
                        <li><a href="#attractions-tab" class="a-inv" data-toggle="tab"><i class="fas fa-map-marked-alt"></i>Things to Do</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="airports-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/iad.jpg);"></span>    
                                    </span>
                                    <span class="gla_news_title">Dulles International Airport (IAD)</span>
                                    <p><strong>Closest airport to the hotel and venue.</strong><br>~20 minute drive to hotel</p>
                                    <a class="btn button btn-sm" href="https://www.kayak.com/flight-routes/United-States-US0/Washington-Dulles-Intl-IAD" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/dca.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Washington National Airport (DCA)</span>
                                    <p><strong>Closest airport to downtown Washington, D.C.</strong><br>~45 minute drive to hotel</p>
                                    <a class="btn button btn-sm" href="https://www.kayak.com/flight-routes/United-States-US0/Washington-Reagan-National-DCA" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/bwi.jpeg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Baltimore-Washington International Airport (BWI)</span>
                                    <p><strong>In case you want to visit Baltimore too!</strong><br>~1 hour 15 minute drive to hotel</p>
                                    <a class="btn button btn-sm" href="https://www.kayak.com/flight-routes/United-States-US0/Baltimore-Washington-BWI" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->

                        <div class="tab-pane fade" id="accomodations-tab">
                        <!-- boxes -->
                        <div class="gla_icon_boxes row text-left">
                            <!-- item -->
                            <div class="col-md-6 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/hotel.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Best Western Leesburg Hotel and Conference Center</span>
                                    <p>A block of rooms has been reserved for our guests at a discounted rate. <strong>Reference the Rodriguez/O'Donnell Wedding when making your reservation.</strong> This hotel is about a 20-minute drive from the wedding venue.</p>
                                    <a class="btn button btn-sm" href="https://www.bestwestern.com/en_US/book/hotels-in-leesburg/best-western-leesburg-hotel-conference-center/propertyCode.47076.htmlI" target="_blank" role="button">Book a room!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-6 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/airbnb.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Live Like the Locals. Airbnb around Purcellville, VA</span>
                                    <p>There are plenty of beautiful properties available for rent on Airbnb, including a tiny house if you're feeling adventurous! The wedding venue is in Purcellville, but there are other cities nearby like Leesburg you can look into as well.</p>
                                    <a class="btn button btn-sm" href="https://www.airbnb.com/s/Purcellville--VA/homes?refinement_paths%5B%5D=%2Fhomes&allow_override%5B%5D=&s_tag=bUW17lSo" target="_blank" role="button">Browse rentals!</a>
                                </span>
                            </div> 
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->

                        <div class="tab-pane fade" id="attractions-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/oldtown.jpg);"></span>    
                                    </span>
                                    <span class="gla_news_title">Old Town Alexandria</span>
                                    <p>The Georgetown of Northern Virginia. It's packed with great restaurants and boutiques and waterfront activities. Make sure you try Vola's Dockside Grill and Hi-Tide Lounge!</p>
                                    <a class="btn button btn-sm" href="https://www.visitalexandriava.com/old-town-alexandria/" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/topgolf.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Topgolf Loudoun</span>
                                    <p>Not your grandfather's driving range. This is one of our favorite places to hang out. You don't have to be good at golf to have fun. We say that from first-hand experience.</p>
                                    <a class="btn button btn-sm" href="https://topgolf.com/us/loudoun/" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/monument.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">D.C. Monuments and Memorials</span>
                                    <p>This is a must do if you're visiting D.C. Make sure you take one of those cheesy pictures where it looks like your finger is touching the tip of the Washington Monument.</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/must-see-memorials-monuments-national-mall" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/museum.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Smithsonian Museums</span>
                                    <p>Another must do when visiting D.C. Best of all, admission is free! The Udvar-Hazy Center is one of our favorites and it's not too far from the wedding venue and hotel.</p>
                                    <a class="btn button btn-sm" href="https://www.si.edu/museums" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/harbor.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">National Harbor</span>
                                    <p>Across the Potomac River from Old Town. In fact, you can take a water taxi to and from various waterfront areas. If you're feeling lucky, check out the new MGM Casino.</p>
                                    <a class="btn button btn-sm" href="https://www.nationalharbor.com/" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/georgetown.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Georgetown</span>
                                    <p>Home to fine dining and shopping, waterfront views, and The Exorcist steps. If you are going for the cupcakes, try Sprinkles Cupcakes. The line is shorter and the cupcakes are better.</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Learn More</a>
                                </span>
                            </div> 
                            <!-- item -->
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->
                    </div>  
                </div>
            
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->