/* You can add global styles to this file, and also import other style files */

@media (max-width: 600px) {
  .mobile #homepage-image-tint {
    background-position: -350px 0px;
  }
}

/* @media (min-width: 601px) and (max-width: 800px) {
  .gla_slider_flower_c1 {
    left: -200px;
    top: -200px;		
  }
  .gla_slider_flower_c2 {
    right: -200px;
    top: -200px;		
  }
  .gla_slider_flower_c3 {
    right: -200px;
    bottom: -200px;		
  }
  
  .gla_slider_flower_c4 {
    bottom: -200px;
    bottom: -200px;		
  }
  .gla_slider_flower_c5 {
    top: -200px;		
  }
  .gla_slider_flower_c6 {
    bottom: -200px;		
  }
}

@media (min-width: 801) {
  .gla_slider_flower_c1 {
    left: -100px;
    top: -100px;		
  }
  .gla_slider_flower_c2 {
    right: -100px;
    top: -100px;		
  }
  .gla_slider_flower_c3 {
    right: -100px;
    bottom: -100px;		
  }
  
  .gla_slider_flower_c4 {
    bottom: -100px;
    bottom: -100px;		
  }
  .gla_slider_flower_c5 {
    top: -100px;		
  }
  .gla_slider_flower_c6 {
    bottom: -100px;		
  }
} */

.center {
  display: flex;
  justify-content: center;
}

.top-margin-sm {
  margin-top: 10px
}

.top-margin-md {
  margin-top: 20px
}

.top-margin-lg {
  margin-top: 30px
}

.top-margin-xlg {
  margin-top: 60px
}

.bottom-margin-sm {
  margin-bottom: 10px
}

.button {
  background-color: #efe5dd;
}

.button:hover {
  background-color: #f5c3ae;
}

.vertical_line {
  height: 250px;
  border-left: 1px solid #333;
}

.registry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 20px;
  padding-bottom: 50px
}